.actions {
	position: relative;
}

.icon {
	cursor: pointer;
	width: 25px;
	height: 25px;
}

.menu {
	position: absolute;
	background: #fff;
	transition: box-shadow 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	height: 0;
	opacity: 0;
	right: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu.active {
	opacity: 1;
	height: auto;
	width: max-content;
	z-index: 9999;
}

.menu__item {
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
	padding: 0 30px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	text-transform: capitalize;
	pointer-events: none;
}

.menu.active .menu__item {
	padding: 12px 30px;
	pointer-events: auto;
}

.menu__item:hover {
	background: #f1f1f1;
}
