.madeIt {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.madeIt:hover .madeIt__title {
	opacity: 1;
}

.madeIt__title {
	font-size: 14px;
	line-height: 16px;
	color: #bababa;
	opacity: 0.5;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.checkbox__input {
	position: absolute;
	left: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: 99;
}

.display__check {
	width: 20px;
	height: 20px;
	border: 1px solid #bababa;
	border-radius: 42px;
	transition: border-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	background-position: center;
}

.display__check.active {
	border-color: #3a9691;
	background-color: #3a9691;
	background-image: url('http://localhost:3000/assets/images/icons/planner/check.svg');
}
