.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.title {
    font-size: 24px;
    color: #232323;
    line-height: 32px;
}

.boxes {
    display: flex;
    gap: 40px;
}

.box {
    display: flex;
    width: 42%;
    flex-direction: column;
    gap: 10px;
}

.edit {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #e3e3e3;
    position: relative;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}

.edit.active {
    border-bottom-color: #3a9691;
    cursor: text;
}



.edit:hover ~ .inputName { 
    color: #3a9691; 
}

.edit:hover { 
    border-bottom-color: #3a9691; 
}

.edit:hover  .inputValue { 
    color: #3a9691;  
}


.target {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
    width: 100%;
}

.inputValue {
    font-size: 16px;
    line-height: 20px;
    color: #707070;
}

.inputValue.active {
    display: none;
}

.input {
    display: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #707070;
    width: 100%;
    padding-right: 30px;
}

.input.active {
    display: block;
}

.inputName {
    text-transform: uppercase;
    font-size: 14px;    
    line-height: 14px;
    letter-spacing: 1px;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: #707070;
}

.inputName.active {
    color: #3a9691;
}

.closeIcon,
.confirm {
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 99;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.confirm {
    right: 20px;
}

.closeIcon.active:hover {
    background-color: rgb(143, 75, 75)
}

.confirm:hover {
    background-color: #2d3f3e;
}

.error {
    width: 100%;
    height: 0;
    background-color: #FFCCCB;
    color: #fff;
    font-size: 16px;
    text-align: center;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 4px;
}

.error.active {
    height: auto;
    padding: 10px 0px;
}

.passwordInputs__item {
    display: none;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.passwordInputs__item.active {
    display: flex;
}

.showButton {
    text-transform: uppercase;
    color: #3a9691;
    font-size: 12px;
    cursor: pointer;
}

.buttons {
    margin-top: 30px;
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

.buttons.active {
    display: flex;
}

.saveButton,
.cancelButton {
    cursor: pointer;
    color: #707070;
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px 14px;
    font-weight: 700;
}

.saveButton {
    border: 2px solid #3a9691;
    border-radius: 42px;
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
}

.saveButton:hover {
    color: #fff;
    background: #3a9691;
}

.cancelButton {
    line-height: 24px;
}