.category {
    display: block;
    width: 100%;
    min-height: 100vh;
    font-family: 'europa', sans-serif;
    padding: 20px 0px 60px 0px;
}

.category__content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.category__main {
    display: block;
    padding: 45px 0px 0px 232px;
}

.category__title {
    color: #323232;
    font-size: 32px;
    line-height: 39.36px;
}

.category__paragraphs {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__paragraphs-item {
    width: 417px;
    padding-bottom: 60px;
}

.category__paragraphs-item ul {
    display: flex;
    width:fit-content;
    flex-direction: column;
}

.category__paragraphs-item h1 {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.paragraph__link  {
    margin: 10px 0px;
    color: #3a9691;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.paragraph__link:hover {
    text-decoration: underline;
}