.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px 0px;
	max-height: 80vh;
	overflow-y: scroll;
	overscroll-behavior: contain;
}

.list::-webkit-scrollbar {
	width: 5px;
}

.list::-webkit-scrollbar-track {
	background: #fff;
}

.list::-webkit-scrollbar-thumb {
	background: #bababa;
	border-radius: 20px;
}
