
.advantages {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.advantages__item {
    display: flex;
    width: 100%;
    gap: 71px;
    align-items: center;
}

.advantageImg {
    width: 480px;
    height: 454px;
}

.advantages__itemText {
    display: flex;
    flex-direction: column;
}

.advantageMade {
    line-height: 1px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: #707070;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.advantageTitle {
    color: #232323;
    font-size: 34px;
    line-height: 42px;
    margin: 10px 0;
}

.advantageDescr {
    color: #707070;
    font-size: 16px;
    line-height: 26px;
}

.advantageExtra {
    font-size: 14px;
    line-height: 24px;
    color: #707070;
}

.addPack {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    width: 100%;
}

.addPack-item {
    display: flex;
    flex-direction: column; 
    gap: 30px;
    padding: 15px 18px;
    border-radius: 7px;
    border: 2px solid #dadada;
}

.addPack__number {
    color: #232323;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    font-weight: 400;
}

.addPack-item__price {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.priceNow {
    color: #e16120;
    font-size: 20px;
    line-height: 20px;
}

.priceWas {
    text-decoration: line-through;
    color: #707070;
    font-size: 12px;
    line-height: 12px;
}

.pack__butt {   
    cursor: pointer;
    color: #3a9691;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.packDet {
    margin-top: 10px;
    font-size: 10px;
    line-height: 10px;
    color: #bababa;
}