.collection {
    display: block;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 240px;
    background-size: cover;
    background-position:center;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 240px;
    backdrop-filter: blur(5px) brightness(45%);
}

.collectionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.changeBox {
    display: flex; 
    flex-direction: column;
    min-width: 342px;
    align-items: center;
    cursor: pointer;
}

.displayName {
    font-size: 32px;
    color: #fff;
    line-height: 48px;
    font-weight: 100;
}

.displayName.hidden {
    display: none;
}

.nameInput {
    color: #fff;
    font-weight: 100;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid #bababa;
    padding-bottom: 5px;
    display: none;
}

.nameInput.active {
    display: block;
}

.stat {
    color: #fff;
}

.displayDescription {
    color: #fff;
    line-height: 22.4px;
    display: block;
}

.displayDescription.hidden {
    display: none;
}

.descInput {
    min-width: 324px;
    font-size: 16px;
    line-height: 22.4px;
    color: #fff;
    text-align: center;
    display: none;
    padding-bottom: 5px;
    outline: none;
    border: 1px solid #bababa;
    border-style: none none solid none;
    background: transparent;
    resize: none;
}

.descInput.active {
    display: block;
}

.delete {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    bottom: 24px;
    gap: 8px;
    cursor: pointer;
}

.delete img {
    transition: all .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.delete:hover .deleteText {
    color: #fff;
}

.deleteText {
    text-transform: uppercase;
    font-size: 12px;
    color: #bababa;
    font-weight: 700;
    transition: all .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main {
    margin-top: 32px;
}

.mainContent {
    display: flex;  
    flex-direction: column;
}

.recipes {
    display: flex;
    gap: 20.8px;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.mainHeader {
    display: flex;
    justify-content: right;
}

.sortMenu {
    position: relative;
}

.text {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    cursor: pointer;
}

.sortTitle {
    font-size: 14px;
    color: #232323;
    line-height: 40px;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.dropdown {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 99;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.dropdown.active {
    visibility: visible;
    opacity: 1;
}

.dropdown__item {
    padding: 15px 25px;
    transition: color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95),;
    font-weight: 700;
    font-size: 14px;
}

.dropdown__item.active {
    color: #3a9691;
    background-image: url(http://localhost:3000/assets/images/icons/recipes/check.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
}

.dropdown__item:hover {
    background-color: #f1f1f1;
    color: #3a9691;
    cursor: pointer;
}

.dropdown__item.active:hover {
    background: #f1f1f1;
    background-image: url(http://localhost:3000/assets/images/icons/recipes/check.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
}

/* no res */


.noRecipes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noRecipes__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noRecipes__title {
    color: #bababa;
    font-size: 32px;
    line-height: 48px;
}

.noRecipes__sub {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 24px;
}