.savedRecipes {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.findRecipes {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 15px;
}

.searchInput {
    font-family: 'europa';
    line-height: 40px;
    width: 345px;
    padding: 8px 1em 8px 48px;
    border-radius: 36px;
    background: #fff;
    color: #707070;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}

.searchInput::placeholder {
    font-size: 14px;
    color: #e3e3e3;
}

.searchInput:focus {
    cursor: text;
    color: #707070;
}