.activate {
    display: flex;
    padding-top: 81px;
}

.activate__content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.activateMobile {
    background: #000;
    padding: 8px 0px;
}

.activateMobile p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    line-height: 1.714285714285714;
    color: #fff;
}

.activateDownload {
    display: block;
    background: linear-gradient(to bottom, #eaeaea, #fff);
    width: 100%;
}

.activateWrapper {
    width: 1034px;
    margin: 0 auto;
}

.activateDownload__content {
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: center;
}

.activateDownload__text {
    display: flex;
    flex-direction: column;
}

.activateDownload__text h1 {
    color: #232323;
    font-size: 48px;
    line-height: 56px;
}

.activateDownload__text p {
    color: #4a4a4a;
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px 18px 0px;
}

/* faqs */

.activateFaqs {
    display: block;
    width: 100%;
}

.activateFaqs__title {
    color: #232323;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 11px;
}

.activateFaqs__box {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #232323;
}

.activateFaqs__box-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 30px 0px;
    border-bottom: 1px solid #e3e3e3;
}

.activateFaqs__boxQ {
    display: flex;
    position: relative;
    align-items: center;
}

.activateFaqs__icon {
    font-size: 27px;
    user-select: none;
    line-height: 26px;
    color: #3a9691;
}

.activateFaqs__questions {
    position: absolute;
    top: 2px;
    color: #232323;
    font-size: 16px;
    line-height: 26px;
    left: 25px;
}

.activateFaqs__boxA {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    flex-direction: column;
    max-height: 0;
    padding: 0px 30px 0px 0px;
    transition: visibility .2s cubic-bezier(0.215, 0.610, 0.355, 1), margin .2s cubic-bezier(0.215, 0.610, 0.355, 1), transform .2s cubic-bezier(0.215, 0.610, 0.355, 1), max-height .2s cubic-bezier(0.215, 0.610, 0.355, 1), opacity .05s ease;
}

.activateFaqs__boxA.selected {
    max-height: max-content;
    opacity: 1;
    visibility: visible;
    margin: 16px 0px;
    transform: translateY(0px);
}

.activateFaqs__boxPoints {
    display: flex;
    flex-direction: column;
    list-style: disc;
    margin-left: 32px;
}

.activateFaqs__boxPoints-item {
    color: #707070;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

.activateFaqs__boxPoints-item::after {
    content: attr(data-end);
    color: #707070;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.activateFaqs__text {
    color: #707070;
    font-size: 16px; 
    line-height: 26px;
}