.myFeed {
	display: block;
	width: 100%;
}

.title {
	font-size: 24px;
	color: #242424;
	line-height: 36px;
	text-transform: capitalize;
}

.recipes {
	margin-top: 19px;
}

.list {
	padding: 35px 0px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px 20.8px;
}
