.menu {
	position: absolute;
	z-index: 99;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	width: 420px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 10px;
}

.menu.active {
	visibility: visible;
	opacity: 1;
}

.menu__item {
	font-size: 16px;
	line-height: 24px;
	color: #232323;
	transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
	padding: 10px 10px;
	border-radius: 10px;
	text-overflow: ellipsis;
	max-width: 420px;
	overflow: hidden;
	white-space: nowrap;
}

.menu__item:hover {
	color: #3a9691;
	background-color: #f1f1f1;
}
