.menu {
	display: none;
}

.menu.active {
	display: flex;
	flex-direction: column;
	background: #fff;
	z-index: 99;
	padding: 10px 5px 10px 5px;
	width: 100%;
}

.header {
	display: flex;
	gap: 5px;
	margin-bottom: 30px;
}

.text {
	font-size: 14px;
	text-transform: capitalize;
	line-height: 14px;
	color: #707070;
}

.icon {
	opacity: 0;
	visibility: hidden;
	width: 20px;
	height: 20px;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}

.editMenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.input {
	border: 1px solid #707070;
	padding: 5px 0 5px 10px;
	width: 35%;
}

.button {
	color: #3a9691;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	padding: 0px 10px;
}
