.menu {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: padding-top 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95), padding-bottom 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.menu.active {
	display: flex;
	flex-direction: column;
	gap: 10px;
	opacity: 1;
	visibility: visible;
	height: auto;
	width: 100%;
	background: #fff;
	z-index: 99;
	padding: 10px 5px 20px 5px;
}

.header {
	display: flex;
	gap: 5px;
}

.text {
	font-size: 14px;
	text-transform: capitalize;
	line-height: 14px;
	color: #707070;
}

.icon {
	opacity: 0;
	visibility: hidden;
	width: 20px;
	height: 20px;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}
