.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4a4a4a;
}

.title {
    font-size: 24px;
    line-height: 36px;
}

.subtitle {
    font-size: 17px;
    max-width: 510px;
    line-height: 25.5px;
    text-align: center;
    margin: 17px 0px;
}

.ratingStars {
    max-width: 100px;
    margin-top: 5px;
}

.back {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    padding: 24px;
    color: #00000066;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    padding: 0px 40px 12px;
    margin-top: 36px;
    text-align: center;
    color: #4a4a4a;
    font-size: 34px;
    line-height: 42px;
    font-weight: 400;
    border-bottom: 2px solid #e3e3e3;
}


.alert.active {
    padding: 24px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 26px;
}

.alert {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.alertText {
    opacity: 0;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    text-transform: capitalize;
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    min-width: 385px;
    min-height: 24px;
    text-align: center;
}

.alertText.active {
    opacity: 1;
}

.nextButton {
    min-width: 140px;
    font-size: 14px;
    background: #3a9691;
    color: #fff;
    padding: 0px 32px;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 42px;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-top: 5px;
}

.nextButton:hover {
    background: #4b9b96;
}

.footer {
    font-size: 14px;
    color: #707070;
    line-height: 21px;
    margin-top: 36px;
}

.termsLink {
    color: #3a9691;
    text-decoration: underline;
}
