.resource {
    min-height: 105vh;
    width: calc(100% - 216px);
    float: right;
    font-family: 'europa', sans-serif;
    padding-bottom: 30px;
}

.banner {
    padding: 87px 20px 24px 0;
}

.info {
    display: flex;
    gap: 42px;
    align-items: center;
    max-width: 727px;
}

.icon {
    max-width: 148px;
    max-height: 148px;
}

.details {
    display: flex;
    flex-direction: column;
}

.title {
    color: #232323;
    font-size: 34px;
    line-height: 51px;
}

.description {
    font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social {
    padding: 0px 7px 0px 0px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 30px 20.8px;
}

.search {
    margin: 30px 0px 32px 0px;
}

.search__container {
    display: flex;
    flex-direction: column;
}

.searchbar {
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon {
    position: absolute;
    left: 11px;
}

.searchInput {
    font-family: 'europa';
    line-height: 40px;
    width: 345px;
    padding: 8px 1em 8px 48px;
    border-radius: 36px;
    background: #fff;
    color: #bababa;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}

.searchInput:focus {
    cursor: text;
    color: #232323;
}
