.menu {
	position: relative;
}

.menu__target {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.title {
	font-size: 14px;
	color: #232323;
	line-height: 16px;
	text-transform: capitalize;
}

.icon {
	width: 13px;
	height: 13px;
}

.dropdown {
	display: flex;
	flex-direction: column;
	color: #232323;
	font-size: 14px;
	min-width: 182px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: #fff;
	position: absolute;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	z-index: 99;
}

.dropdown.active {
	visibility: visible;
	opacity: 1;
}

.dropdown__item {
	padding: 14px 40px 14px 25px;
	transition: color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95),
		background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	font-weight: 700;
	font-size: 14px;
	text-transform: capitalize;
}

.dropdown__item.active {
	color: #3a9691;
	background-image: url(http://localhost:3000/assets/images/icons/recipes/check.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
}

.dropdown__item:hover {
	background-color: #f1f1f1;
	color: #3a9691;
	cursor: pointer;
}

.dropdown__item.active:hover {
	background: #f1f1f1;
	background-image: url(http://localhost:3000/assets/images/icons/recipes/check.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
}
