.ingredientItem {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 0px;
}

.plus {
    width: 16px;    
    height: 16px;
    border: 2px solid #3a9691;
    border-radius: 50%;
    color: #3a9691;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 5px 1px;
    font-weight: 700;
    cursor: pointer;
    margin-right: 8px;
}

.text,
.technique {
    font-size: 16px;
    line-height: 24px;
}

.technique {
    opacity: 0.5;
}