.article {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 20px 0 60px 0 ;
}

.article__content {
    display: flex;
    flex-direction: column;
}


.article__info {
    display: flex;   
}

.articleLeft {
    display: flex;
    flex-direction: column;
}

.articleLeft__title {
    color: #4a4a4a;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
}

.articleList {
    display: flex;
    gap: 10px;
    width: 197px;
    flex-direction: column;
}

.articleList-item {
    background-color: #fff;
    color: #4a4a4a;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    padding: 10px;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.articleList-item:hover {
    color: #fff;
    background-color: rgba(58, 150, 145, 1);
}

.articleList-item.active {
    color: #fff;
    background-color: rgba(58, 150, 145, 1);
}

.articleText {
    display: flex;
    width: 765px;
    flex-direction: column;
    padding: 0px 30px;
}

.articleText__title {
    color: #232323;
    font-size: 32px;
    line-height: 39.36px;
    margin-bottom: 21px;
}

.article__update {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.article__updatetime {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #4a4a4a;
    text-transform: uppercase;
}

.article__updatetime::after {
    content: attr(data-end);
    color: #4a4a4a;
    margin-left: 8px;
    font-weight: 600;
}


/* response settings */
.article__response {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 0px 10px;
}

.article__textline {
    font-size: 16px;    
    line-height: 26px;
    font-weight: 400;
    color: #4a4a4a;
    margin: 5px 0;
}

.article__point {
    margin-left: 35px;
    color: #4a4a4a;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.article__point strong {
    margin-right: 3px;
}

.article__mail {
    color: #3a9691;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 3px;
}

.article__mail:hover {
    text-decoration: underline;
}

.article__Image {
    max-height: 368px;
    max-width: 419px;
    margin-right: 10px;
}

.article__bigImage {
    max-height: 368px;
    max-width: 705px;
    margin-right: 10px;
}


/*  */
.articleHelpful {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 30px 0;
    margin-top: 15px;
    text-align: center;
}

.articleHelpful__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articleHelpful__ask {
    font-size: 15px;
    line-height: 22.5px;
    color: #4a4a4a;
}

.articleHelpful_buttons {
    display: flex;
    margin: 10px 0px;
    gap: 10px;
}

.articleHelpful_buttons button {
    font-size: 12px;
    color: #3a9691;
    font-weight: 400;
    line-height: 28px;
    width: 90px;
    cursor: pointer;
    padding: 0px 20px;
    border-radius: 4px;
    border: 1px solid #3a9691;
    transition: .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.articleHelpful_buttons button:hover {
    color: #fff;
    background: #3a9691;
}

.helpful__status {
    font-size: 12px;
    line-height: 18px;
    color: #4a4a4a;
}

.articleHelpful__submit {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.articleHelpful__subForm {
    color: #3a9691;
    font-size: 15px;
    line-height: 22.5px;    
    font-weight: 400;
    transition: .2s all cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.articleHelpful__subForm:hover {
    text-decoration: underline;
}

.articleRecently {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.articleRecently__viewed {
    display: flex;
    flex-direction: column;
}

.articleRecently__viewed h1,
.articleRecently__related h1  {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.articleRecently__related {
    padding-left: 20px;
}

.recommendationList {
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 352px;
    width: 352px;
    flex-direction: column;
    padding-right: 20px;
}

.recommendationList-item {
    color: #3a9691;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
    transition: .2s;
    margin-bottom: 16px;
}

.recommendationList-item:hover {
    text-decoration: underline;
}

.noRecommendation {
    cursor: default;
    color: #707070;
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
}