.cookbook {
}

.container {
}

.main {
	margin-top: 48px;
}

.counter {
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	color: #242424;
	margin-bottom: 20px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	gap: 20.8px;
	margin: 30px 0px;
}
