.box {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    cursor: pointer;
}

.item.active .title,
.item.active .desc{
    color: #3a9691;
}

.item:hover .title,
.item:hover .desc {
    color: #3a9691;
}

.title {
    font-size: 16px;
    color: #707070;
    line-height: 32px;
    font-weight: 400;    
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.desc {
    line-height: 12px;
    font-weight: 700;
    color: #bababa;
    font-size: 12px;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}