.details {
	display: flex;
	align-items: center;
}

.text {
	font-weight: 700;
	color: #bababa;
	font-size: 14px;
	opacity: 0.5;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.text:hover {
	opacity: 1;
}

.text.left {
	border-right: 1px solid #bababa;
	padding-right: 10px;
}

.ingredients {
	position: relative;
}

.target {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	padding: 0px 10px;
	cursor: pointer;
}

.icon {
	width: 16px;
	height: 16px;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.icon.active {
	transform: rotateX(0.5turn);
}

.menu {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
	background: #fff;
	visibility: hidden;
	z-index: 999;
	border-radius: 16px;
}

.menu.active {
	min-width: 400px;
	height: auto;
	opacity: 1;
	visibility: visible;
}

.menu__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	transition: padding-top 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), background 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}

.menu__item:first-child {
	border-radius: 16px 16px 0 0;
}

.menu__item:last-child {
	border-radius: 0 0 16px 16px;
}

.menu.active .menu__item {
	padding: 10px 25px;
}

.menu__item:hover {
	background: #f1f1f1;
}

.menu__item:hover .button {
	color: #3a9691;
}

.ingredient {
	text-transform: capitalize;
	line-height: 24px;
	font-size: 16px;
}

.ingredient__details {
	display: flex;
	align-items: first baseline;
	gap: 5px;
}

.text__small {
	font-size: 14px;
	line-height: 16px;
	color: #bababa;
}

.button {
	line-height: 16px;
	color: #4a4a4a;
	font-size: 14px;
	transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
