.navbar {
	display: flex;
	align-items: center;
	padding: 20px 40px;
	background: #fff;
	width: 100%;
	position: sticky;
	top: 0;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	color: #4a4a4a;
	z-index: 99;
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 40px;
}

.title,
.buttons,
.right {
	flex: 1;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cart__button {
	color: #fff;
	background: #3a9691;
	font-weight: 700;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	padding: 0px 32px;
	line-height: 40px;
	border-radius: 42px;
	text-transform: capitalize;
	cursor: pointer;
}

.cart__button:hover {
	filter: brightness(90%);
}

.buttons {
	display: flex;
	gap: 40px;
	transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.buttons.active {
	transform: translateY(-50px);
}

.button {
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.button:hover {
	color: #3a9691;
}

.button.active {
	color: #3a9691;
}

.shipping {
	color: #232323;
	font-size: 14px;
	line-height: 24px;
	transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transform: translateY(30px);
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	visibility: hidden;
}

.shipping.active {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}

.right {
	display: flex;
	justify-content: right;
}

.cart {
	display: flex;
	align-items: center;
	gap: 15px;
}

.icon {
	width: 20px;
	height: 20px;
}
