.item {
	display: flex;
	align-items: center;
	gap: 40px;
}

.item__img {
	border-radius: 8px;
	max-width: 168px;
	max-height: 168px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	font-size: 24px;
	line-height: 32px;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}

.item:hover .title {
	color: #3a9691;
}

.details {
	display: flex;
	align-items: center;
	gap: 10px;
}

.details__item {
	font-weight: 700;
	color: #bababa;
	font-size: 14px;
	opacity: 0.5;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.details__item:hover {
	opacity: 1;
}

.details__item:first-child {
	border-right: 1px solid #bababa;
	padding-right: 10px;
}

.madeIt {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.madeIt:hover .madeIt__title {
	opacity: 1;
}

.madeIt__title {
	font-size: 14px;
	line-height: 16px;
	color: #bababa;
	opacity: 0.5;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.checkbox {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.checkbox__input {
	position: absolute;
	left: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	z-index: 99;
}

.display__check {
	width: 20px;
	height: 20px;
	border: 1px solid #bababa;
	border-radius: 42px;
	transition: border-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	background-position: center;
}

.display__check.active {
	border-color: #3a9691;
	background-color: #3a9691;
	background-image: url('http://localhost:3000/assets/images/icons/planner/check.svg');
}
