.item {
	display: flex;
	align-items: center;
	gap: 40px;
}

.item__img {
	border-radius: 8px;
	max-width: 168px;
	max-height: 168px;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	font-size: 24px;
	line-height: 32px;
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	cursor: pointer;
}

.item:hover .title {
	color: #3a9691;
}
